.pagination {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    @media(max-width:1000px) {
        margin-bottom: 100px;
        justify-content: center;
        gap: 10px;
    }
    li {
        &.disabled {
            display: none;
        }
        &.selected {
            a {
                background: #fe724c;
                color: white;
            }
        }
        a {
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: white;
            border:  2px solid #fe724c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fe724c;
            font-family: var(--font-family);
            &:hover {
                background: rgba(0, 0, 0, 0.20);
            }
        }
    }
}