.products {
    &__lang {
        margin-left: auto; // Это самое важное: отодвинет кнопку максимально вправо
    background: none;
    border: 2px solid #ff5a3c; // Оранжевый цвет как у ваших кнопок
    color: #ff5a3c;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    &:hover {
          background: #ff5a3c;
          color: white;
        }
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-right {
            display: flex;
            gap: 10px;
        }
        @media (max-width:700px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
        }
    }
    &__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        @media (max-width:1200px) {
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width:500px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        border-radius: 20px;
        box-shadow: 18px 18px 36px 0 rgba(211, 209, 216, 0.25);
        background: #fff;
        position: relative;
        &-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px;
            display: block;
        }        
        &-price {
            border-radius: 200px;
            background: #fff;
            box-shadow: 0 7px 28px 0 rgba(254, 114, 76, 0.2);     
            width: 80px;
            height: 40px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            color: #111719;
            position: absolute; 
            top: 12px;
            left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;                  
        }
        &-cart {
            background: #fe724c;
            box-shadow: 0 8px 18px 0 rgba(254, 114, 76, 0.4);            
            width: 34px;
            height: 34px;
            border-radius: 50%;
            position: absolute;
            right: 12px;
            top: 12px;
        }
        &-info {
            padding: 0 12px 21px 12px;
        }
        &-rating {
            border-radius: 136px;
            width: 50px;
            height: 30px;
            box-shadow: 0 6px 24px 0 rgba(254, 114, 76, 0.2);
            background: #fff;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 12px;
            color: #000;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;     
            transform: translateY(-50%);                               
        }
        &-title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            color: #000;            
        }
        &-text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #5b5b5e;
            margin-top: 10px;           
        }
    }
}