.sidebar {
    width: 20%;
    border-right: 1px solid #d4d6e0;   
    height: 100vh;
    padding: 30px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    @media (max-width:1000px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        top: auto;
        z-index: 999999;
        background: white;
        border-top: 1px solid #d4d6e0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width:1000px) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
       
    }
    &__user {
        display: flex;
        flex-direction: column;
        @media (max-width:1000px) {
            display: none;
        }
        &-img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
        }
        &-name {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            color: #000;
            margin-top: 21px;
            margin-bottom: 7px;            
        }
        &-email {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #9ea1b1;           
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width:1000px) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
        @media (max-width:500px) {
            gap: 20px;
        }
        &-links {
            display: flex;
            align-items: center;
            gap: 15px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #000; 
            position: relative;
            @media (max-width:600px) {
                flex-direction: column;
                gap: 5px;
                font-size: 14px;
            }
            &.active {
                color: #fe724c;
            }       
            img {
                width: 23px;
                height: 23px;
            }
            &-count {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fe724c;
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 12px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;    
                @media (max-width:600px) {
                    position: absolute;
                    right: 0;
                    top: 0;
                }      
            }
        }
    }
}