$OpenSans: ('Light', 300),
           ('Regular', 400),
           ('SemiBold', 600),
           ('Bold', 700);
           
@each $name, $weight in $OpenSans {
    @font-face {
        font-family: 'OpenSans';
        src: url('/public/fonts/OpenSans-#{$name}.ttf');
        font-weight: $weight;
    }
}