.layoutForm {
    display: flex;
    height: 100vh;
    &__left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #d4d6e0;
        @media (max-width:1000px) {
            display: none;
        }
    }
    &__right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:1000px) {
            width: 100%;
            padding: 0 15px;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 450px;
        width: 100%;
        &-link {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: #5b5b5e;         
        }
        &-title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 36px;
            line-height: 120%;
            color: #000; 
            @media (max-width:1000px) {
                text-align: center;
            }           
        }
        &-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-field {
            display: flex;
            flex-direction: column;
            gap: 6px;
            &-span {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #9796a1;                
            }
            &-input {
                border: 1px solid #eee;
                border-radius: 10px;
                height: 65px;       
                box-shadow: 15px 20px 45px 0 rgba(233, 233, 233, 0.25);
                background: #fff;
                padding: 0 20px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #9796a1;                          
            }
            &-error {
                font-family: var(--font-family);
                color: red;
                font-size: 12px;
                margin-left: 10px;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            &-error {
                font-family: var(--font-family);
                color: red;
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
            }
            &-text {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                color: #5b5b5e;               
            }
            &-link {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                color: #fe724c;                
            }
        }
        &-avatar {
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-top: 30px;
            &-label {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #9796a1;                
            }
            &-input {
                display: none;
            }
            &-preview {
                cursor: pointer;
                max-width: 288px;
                width: 100%;
                height: 288px;
                border: 1px solid #eee;
                border-radius: 10px;
                box-shadow: 15px 20px 45px 0 rgba(233, 233, 233, 0.25);
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 133px;
                    height: 104px;
                    object-fit: cover;
                }
            }
            &-btn {
                color: red;
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}